style
    include style/header.css

div.header
    ul
        li
            a(href='/add') Add Company
        li
            a(href='/service') Add Service
        li
            a(href='/edit') Show Companies
        li
            a(href='/showbooks') Show Books
        li
            a(href='/logout') LogOut